<!DOCTYPE html>

{{#with setup}}
    <html>

        <head>

            <title>T-Challenge Employee Client</title>

            {{#with asset}}
                {{#each styles}}
                    <link  rel="stylesheet" href="{{uri}}"/>
                {{/each}}
                {{#each scripts}}
                    <script type="javascript" src="{{uri}}"></script>
                {{/each}}
            {{/with}}
        </head>

        <body>

            <h1>It works!</h1>
        </body>
    </html>
{{/with}}
