<!DOCTYPE html>

{{#with setup}}
    <html>
        <body>
            <h1>Application Setup</h1>
            <ul>
                <li>Title: {{title}}</li>
                <li>Description: {{description}}</li>
                <li>Build ID: {{build.id}}</li>
                <li>Build Version: {{build.version}}</li>
            </ul>
        </body>
    </html>
{{/with}}
